[submodule "vim/pack/plugins/start/vim-commentary"]
	path = vim/pack/plugins/start/vim-commentary
	url = https://github.com/tpope/vim-commentary.git
[submodule "vim/pack/plugins/start/vim-unimpaired"]
	path = vim/pack/plugins/start/vim-unimpaired
	url = https://github.com/tpope/vim-unimpaired.git
[submodule "vim/pack/plugins/start/vim-fugitive"]
	path = vim/pack/plugins/start/vim-fugitive
	url = https://github.com/tpope/vim-fugitive.git
[submodule "vim/pack/plugins/start/vim-gitgutter"]
	path = vim/pack/plugins/start/vim-gitgutter
	url = https://github.com/airblade/vim-gitgutter.git
[submodule "vim/pack/plugins/start/ale"]
	path = vim/pack/plugins/start/ale
	url = https://github.com/dense-analysis/ale.git
[submodule "vim/pack/plugins/start/vim-dispatch"]
	path = vim/pack/plugins/start/vim-dispatch
	url = https://github.com/tpope/vim-dispatch.git
