[submodule "vim-plugins/vim-unimpaired"]
	path = vim-plugins/vim-unimpaired
	url = https://github.com/tpope/vim-unimpaired.git
[submodule "vim-plugins/vim-fugitive"]
	path = vim-plugins/vim-fugitive
	url = https://github.com/tpope/vim-fugitive.git
[submodule "vim-plugins/vim-commentary"]
	path = vim-plugins/vim-commentary
	url = https://github.com/tpope/vim-commentary.git
[submodule "vim-plugins/vim-gitgutter"]
	path = vim-plugins/vim-gitgutter
	url = https://github.com/airblade/vim-gitgutter.git
[submodule "vim-plugins/vim-lsc"]
	path = vim-plugins/vim-lsc
	url = https://github.com/natebosch/vim-lsc.git
[submodule "vim-plugins/rust.vim"]
	path = vim-plugins/rust.vim
	url = https://github.com/rust-lang/rust.vim.git
[submodule "vim-plugins/vim-go"]
	path = vim-plugins/vim-go
	url = https://github.com/fatih/vim-go.git
