# List all matches in case multiple possible completions are possible
set show-all-if-ambiguous on

# Ignore case when auto-completing
set completion-ignore-case on

# Immediately add a trailing slash when auto completing symbolic links to directories
set mark-symlinked-directories on

# Do not auto complete hidden files unless the pattern explicitly begins with a dot
set match-hidden-files off

# Show extra file information when completing, like `ls -F` does
set visible-stats on

# Never ring a bell
set bell-style none

# Expand tilde
set expand-tilde

# Enable vi mode (enter vi normal mode with <Esc>)
set editing-mode vi
